.img-design {
  width: 12rem;
}

.profile-text {
  font-family: Open Sans, sans-serif;
  font-size: 0.9125rem;
  font-weight: 600;
}

.error-text {
  font-family: Open Sans, sans-serif;
  font-size: 0.912rem;
  font-weight: 570;
  padding: 0.4rem 0.2rem 0rem;
}