// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((

  color-primary-100: #F3FCDC,
  color-primary-200: #E5F9BB,
  color-primary-300: #CCEC94,
  color-primary-400: #B0DB75,
  color-primary-500: #8BC34A,
  color-primary-600: #6DA736,
  color-primary-700: #538C25,
  color-primary-800: #3B7117,
  color-primary-900: #2A5D0E,
  color-primary-transparent-100: rgba(139, 195, 74, 0.08),
  color-primary-transparent-200: rgba(139, 195, 74, 0.16),
  color-primary-transparent-300: rgba(139, 195, 74, 0.24),
  color-primary-transparent-400: rgba(139, 195, 74, 0.32),
  color-primary-transparent-500: rgba(139, 195, 74, 0.4),
  color-primary-transparent-600: rgba(139, 195, 74, 0.48),
  color-success-100: #CEFDD6,
  color-success-200: #9DFCB7,
  color-success-300: #6CF69F,
  color-success-400: #47ED95,
  color-success-500: #0FE287,
  color-success-600: #0AC285,
  color-success-700: #07A27E,
  color-success-800: #048372,
  color-success-900: #026C69,
  color-success-transparent-100: rgba(15, 226, 135, 0.08),
  color-success-transparent-200: rgba(15, 226, 135, 0.16),
  color-success-transparent-300: rgba(15, 226, 135, 0.24),
  color-success-transparent-400: rgba(15, 226, 135, 0.32),
  color-success-transparent-500: rgba(15, 226, 135, 0.4),
  color-success-transparent-600: rgba(15, 226, 135, 0.48),
  color-info-100: #D7F1FF,
  color-info-200: #AFDFFF,
  color-info-300: #87C9FF,
  color-info-400: #69B5FF,
  color-info-500: #3894FF,
  color-info-600: #2873DB,
  color-info-700: #1C55B7,
  color-info-800: #113B93,
  color-info-900: #0A297A,
  color-info-transparent-100: rgba(56, 148, 255, 0.08),
  color-info-transparent-200: rgba(56, 148, 255, 0.16),
  color-info-transparent-300: rgba(56, 148, 255, 0.24),
  color-info-transparent-400: rgba(56, 148, 255, 0.32),
  color-info-transparent-500: rgba(56, 148, 255, 0.4),
  color-info-transparent-600: rgba(56, 148, 255, 0.48),
  color-warning-100: #FEFDD9,
  color-warning-200: #FDFBB4,
  color-warning-300: #FAF68E,
  color-warning-400: #F5EF70,
  color-warning-500: #EFE743,
  color-warning-600: #CDC530,
  color-warning-700: #ACA421,
  color-warning-800: #8A8315,
  color-warning-900: #726B0C,
  color-warning-transparent-100: rgba(239, 231, 67, 0.08),
  color-warning-transparent-200: rgba(239, 231, 67, 0.16),
  color-warning-transparent-300: rgba(239, 231, 67, 0.24),
  color-warning-transparent-400: rgba(239, 231, 67, 0.32),
  color-warning-transparent-500: rgba(239, 231, 67, 0.4),
  color-warning-transparent-600: rgba(239, 231, 67, 0.48),
  color-danger-100: #FFEBD9,
  color-danger-200: #FFD1B4,
  color-danger-300: #FFB28E,
  color-danger-400: #FF9472,
  color-danger-500: #FF6344,
  color-danger-600: #DB4031,
  color-danger-700: #B72422,
  color-danger-800: #93151D,
  color-danger-900: #7A0D1C,
  color-danger-transparent-100: rgba(255, 99, 68, 0.08),
  color-danger-transparent-200: rgba(255, 99, 68, 0.16),
  color-danger-transparent-300: rgba(255, 99, 68, 0.24),
  color-danger-transparent-400: rgba(255, 99, 68, 0.32),
  color-danger-transparent-500: rgba(255, 99, 68, 0.4),
  color-danger-transparent-600: rgba(255, 99, 68, 0.48),

  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),

), custom-theme, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);
